<div class="janela">
    <h1>Edição:</h1>

<form action="/movimentacao/alterar" method="POST">
            <input type="hidden" name="id_mov" value="{{mov.id_mov}}">
        <div class="controle">
            <label for="data">Data:</label>
            <input type="date" name="data" value="{{mov.periodo}}">
        </div>
        <div class="controle">
            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" placeholder="Descreva a movimentação" max="255" value="{{mov.descricao}}">
        </div>
        <div class="controle">
            <label for="valor">Valor:</label>
            <input type="number" step="0.01" min="0.01" name="valor" value="{{mov.valor}}">
        </div>
        <div class="controle">
            <label for="tipo">Tipo de movimentação:</label>
            <div>
                {{#if mov.entrada}}
                    <input type="radio" name="tipo" value="E" checked> Entrada
                    <input type="radio" name="tipo" value="S"> Saída
                {{else}}
                    <input type="radio" name="tipo" value="E"> Entrada
                    <input type="radio" name="tipo" value="S" checked> Saída
                {{/if}}
            </div>
        </div>
        <div class="controle">
            <label for="conta">Origem/Destino do valor:</label>
            <select name="conta" id="conta">,
                {{#each contas}}
                    <option value="{{this.id_conta}}">{{this.nome}}</option>
                {{/each}}
            </select>
        </div>
        <div class="alinha_cadastro">
            <input id='cadastro' type="submit" value="Alterar">
        </div>
    </form>
</div>