<div class="janela">
    <h1>Resumo Financeiro</h1>
    <table class="tabela resumo">
        <thead>
            <th scope="col">Conta</th>
            <th scope="col">Saldo</th>
        </thead>
        <tbody>
            <tr>
                <td><strong>{{cc.nome}}</strong></td>
                <td>{{cc.saldo}}</td>
            </tr>
            <tr>
                <td><strong>{{poupanca.nome}}</strong></td>
                <td>{{poupanca.saldo}}</td>
            </tr>
            <tr>
                <td><strong>{{especie.nome}}</strong></td>
                <td>{{especie.saldo}}</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td>{{total}}</td>
            </tr>
        </tbody>
    </table>
</div>